# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
build/
dist/
.eggs/
*.egg-info/
*.egg
# Logs
*.log
server.log
# VS Code
.vscode/
# Pytest
.pytest_cache/
# Env files
.env
# macOS
.DS_Store
